<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Huddle</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/c502137733.js"></script>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="nav" style="margin: 30px;">
                <a href="../templates/index.html">
                    <img alt="Huddle Logo" src="../images/huddle.png" width="100" style="margin-right: 250px; margin-bottom: 30px;">
                </a>
                <a href="../templates/team.html">
                    <img alt="Team" src="../images/nav3.png" width="70" style="margin-left: 30px; margin-right: 30px;">
                </a>
                <a href="../templates/add.html">
                    <img alt="Add New Member" src="../images/nav2.png" width="70" style="margin-left: 30px; margin-right: 30px;">
                </a>
                <a href="../templates/search.html">
                    <img alt="Search" src="../images/nav1.png" width="70" style="margin-left: 30px; margin-right: 30px;">
                </a>
            </div>
        </div>
    </div>
    <div class="container-fluid justify-content-center">
        <div class="row">
            <h2 style="margin: 80px; letter-spacing: 1.3px; font-weight: 200;">Keeping track of where you last put that can get a little overwhelming.</h2>
            <img src="../images/huddlehero1.png" width="500px" style="margin: auto;">
            <h2 style="margin: 80px; letter-spacing: 1.3px; font-weight: 200;"><strong>Huddle keeps team organization simple, </strong>so you have more time to clean your desk.</h2>
            <img src="../images/huddlehero2.png" width="500px" style="margin: auto; margin-bottom: 60px;">
        </div>
    </div>
    <div class="container-fluid justify-content-center">
        <div>
            <h2 style="margin: 80px; letter-spacing: 1.3px; font-weight: 200; text-align: center;">One place for your team to convene.</h2>
        </div>
        <div class="card mb-3" style="max-width: 540px; margin: auto; border: none;">
            <div class="row">
              <div class="col-md-4">
                <img alt="Team" src="../images/nav3.png" width="150px" style="margin: auto;">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-text" style="margin: auto; padding-top: 20px; letter-spacing: 1.3px; font-weight: 200;">A micro view of a team doing macro things.</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="card mb-3" style="max-width: 540px; margin: auto; border: none;">
            <div class="row">
              <div class="col-md-4">
                <img alt="Add New Member" src="../images/nav2.png" width="150px" style="margin: auto;">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-text" style="margin: auto; padding-top: 20px; letter-spacing: 1.3px; font-weight: 200;">Create easy profiles for your team members.</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="card mb-3" style="max-width: 540px; margin: auto; border: none;">
            <div class="row">
              <div class="col-md-4">
                <img alt="Search" src="../images/nav1.png" width="150px" style="margin: auto;">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-text" style="margin: auto; padding-top: 20px; letter-spacing: 1.3px; font-weight: 200;">Search your team roster for quick access to the information you need.</h5>
                </div>
              </div>
            </div>
            <br>
            <br>
          </div>
    </div>
</body>

</html>